*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-style: 'Open Sans', sans-serif;
    --primary-color: #404040;
    --border-color: #4040406b;

    --bg-color: #171923;
    --bg-light: #232535;
    --font-color: #c5cddb;
    --font-light: #ffffff;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Noto Sans JP', sans-serif;
}

.lightMode{
    --bg-color: #E8E6DC;
  --bg-light: #DCDACA;
  --font-color: #3D3D3D;
  --font-light: #202020;
}

body{
    height: 100vh;
    color: var(--font-light);
    background-color: var(--bg-color);
    transition: all 500ms;
   
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.103);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}


.hero-container{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto;
}


.profile-container{
    padding: 10px 30px;
    height: 100%;
    border-right: 0.5px solid var(--border-color);
    font-family: var(--font-style);
    overflow: visible;
}
.profile-container i{
    margin: 0 6px;
    font-size: 1rem; 
}
.profile-container img{
    width: 165px;
    max-width: 100%;
    margin: 20px 0;
}
.profile-container ul{
    margin-top: 10px;
}
.profile-container ul li{
    list-style: none;
    padding: 0;
    margin: 8px 0;
    font-size: 0.9rem;
    text-align: left;
}
.profile-container ul li span{
    font-weight: 700;
}
.profile-container .progress{
    width: 100%;
    background-color: #40404038;
    border: 0px solid #404040;
    margin: 10px 0 10px 0;
    display: block;
   
}
.profile-container .progress-bar{
    height: 7px;
}
.skill-name{
    font-size: 0.6rem;
}


.biography{
    font-family: var(--font-style);
    padding: 10px 35px;
    margin: 0px 0px;
    width: 100%;
}
.biography h1{
    font-family: var(--heading-font);
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1.6rem;
}
.biography p{
    font-family: var(--paragraph-font);
    font-weight: 300;
}



.section-tab{
    width: 100%;
    border: 1px solid #fff;
    margin-top: 30px;
}

.section-tab ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.btn-container{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.section-tab .btn-links{
    width: auto;
    height: auto;
    padding: 10px 25px;
}
.tabcontent{
    
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    padding: 10px 20px;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    color: var(--font-light);
    font-family: var(--paragraph-font);
    font-size: small;
    font-weight: 300;
    padding: 12px 0;
}

@media(max-width: 800px){
    .hero-container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto;
    }
    .biography{
        margin: 10px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 20px;
    } 

    .profile-container{
        width: 100%;
        padding: 10px 20px;
        margin: 0;
    }
    .profile-container ul li{
        margin: 10px 0;
    }

}

