:root{
    --font-style: 'Open Sans', sans-serif;
    --primary-color: #404040;
    --border-color: #4040406b;

    --bg-color: #171923;
    --bg-light: #232535;
    --font-color: #c5cddb;
    --font-light: #ffffff;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Noto Sans JP', sans-serif;
}

.lightMode{
    --bg-color: #E8E6DC;
  --bg-light: #DCDACA;
  --font-color: #3D3D3D;
  --font-light: #202020;
}
.biography .tabcontent ul li{
    list-style-type: none  !important;
    display: block  !important;
    margin-bottom: 7px;
    font-family: var(--paragraph-font);
}
.biography .tabcontent .skill-name{
    font-weight: 500;
    font-size: 0.7rem;
}
.biography .tabcontent .content-heading{
    font-size: 0.99rem;
    font-family: var(--heading-font);
}
.biography .tabcontent .content-paragraph{
    font-family: var(--paragraph-font);
    font-size: 0.9em;
    margin: 10px 0;
}
.biography .tabcontent .project-row{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-top: 10px;
    justify-content: center;
}
.biography .tabcontent .projetc-container{
    border: 0px solid #fff;
    
}
.biography .tabcontent .projetc-container img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    display: block;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.biography .tabcontent .projetc-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #01151bd7;
  }
  
  .biography .tabcontent .projetc-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .biography .tabcontent .projetc-container .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: small;
    font-weight: 300;
  }

  .biography #project{
    overflow-y: scroll;
    height: 450px !important;
  }

/*----------------*/
.biography .tabcontent .projetc-container{
    Position: relative;

}
/*-----------media queries-----------*/
@media(max-width: 950px){
    .biography .tabcontent .project-row{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 10px;
    }
    .biography .tabcontent .projetc-container img{
        width: 100%;
        height: 200px;
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
        cursor: pointer !important;
       
    }

    .biography #project{
        overflow: scroll;
        height: 500px !important;
    }
}