:root{
    --font-style: 'Open Sans', sans-serif;
    --primary-color: #404040;
    --border-color: #4040406b;

    --bg-color: #171923;
    --bg-light: #232535;
    --font-color: #c5cddb;
    --font-light: #ffffff;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Noto Sans JP', sans-serif;
}

.lightMode{
    --bg-color: #E8E6DC;
  --bg-light: #DCDACA;
  --font-color: #3D3D3D;
  --font-light: #202020;
}
.biography .tabcontent ul li{
    list-style-type: none  !important;
    display: block  !important;
    margin-bottom: 7px;
    font-family: var(--paragraph-font);
}
.biography .tabcontent .skill-name{
    font-weight: 500;
    font-size: 0.7rem;
}
.biography .tabcontent .content-heading{
    font-size: 0.99rem;
    font-family: var(--heading-font);
}
.biography .tabcontent .content-paragraph{
    font-family: var(--paragraph-font);
    font-size: 0.9em;
    margin: 10px 0;
}
.biography .tabcontent .project-row{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-top: 10px;
}
.biography .tabcontent .projetc-container{
    border: 0px solid #fff;
    
}
.biography .tabcontent .projetc-container img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

@media(max-width: 950px){
    .biography .tabcontent .project-row{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 10px;
    }
    .biography .tabcontent .projetc-container img{
        width: 100%;
        height: 200px;
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }

    .biography #project{
        overflow: scroll;
        height: 500px !important;
    }
}